body
{
    /*
     background-color: #3ebe1b;
     */
    background-image: url("https://i.imgur.com/qQu8Q01.jpg");
    background-size: cover;
    font-family: "Lato", sans-serif;
    max-width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
}

h1
{
    color: black;
    text-align:center;
}



h3
{
    color: black;
    size: 10px;
    align-content: center;
}

img{
    position: absolute;
    align-content: center;
}
p
{
    font-size:30px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
table, th, td{
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: white;
    text-align: left;
    padding: 15px;

}
tr:nth-child(even) {background-color: #f2f2f2;}

table.medlemListe {
    margin-left:auto;
    margin-right:auto;
}

.button{
    border: none;
    color: black;
    background-color: whitesmoke;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-content: center;

}

.button:hover{
    background-color: white;
}

.buttonAdd
{
    background-color: white;
    color: black;
}


.buttonHent {
    background-color: white;
    color: black;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}


.forsideKnapper {
    background: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
}


.Introduksjon{
    background: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 10px;

}

.Introduksjon_JA{
    background: rgba(255, 255, 255, 1);
    text-align: left;
    padding: 10px;
    float: left;
    position: absolute;
    z-index:1;
}

.Innlogging {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.medlemmerListe{
    background:rgba(255,255,255,1);
    padding: 12px;
    align-content: center;
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

.Søkefelt{
    background:rgba(255,255,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.Scoreboard{
    background:rgba(255,255,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}


.RemBruker{
    background:rgba(255,255,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}


.BrukerReg{
    background:rgba(255,255,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}


.KlubbInfo{
    background:rgba(255,255,255,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}


.AddTG {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}


.LeggTilBruker {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}

.informasjonsBar{
    background-color: white;
    border-top:solid 2px #ffffff;
    bottom:0;
    left:0;
    margin:0;
    padding:5px;
    position:fixed;
    width:100%;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    top: 0;
    width: 100%;
    align-content: center;
    position: fixed;

}

li {
    display: inline;
    float: right;
}

li a{
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
}

input[type=text],input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-color: grey;
    box-sizing: border-box;
}


input[type=submit]{
    border: none;
    color: black;
    background-color: whitesmoke;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-content: center;

}
input[type=submit]:hover{
    background-color: white;
}



.LeggtilMedlem{
    text-align: left;
    background: rgba(255, 255, 255, 1);
    padding: 12px;
    align-content: center;
    align-self: center;
    border-radius: 10px;
    width:800px;
    max-width:800px;
    position: relative;
}


label{
    display: inline-block;
    width: 140px;
    text-align: center;
}



